<div id="usercontainer" style="display:none;">
  <div id="userplan" style="position: absolute; top: 400px; left: 50px; width: 383px; height: 260px; border: 1px solid orange;">
    <div id="usertitel" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 15px; background-color: orange; overflow: hidden;" onmousedown="xselect('usercontainer')">User: Captain James Charlos, Earth Space Forces</div>
    <div style="position: absolute; top: 0px; right: 0px; width: 15px; height: 15px; background-color: orange; color: black" onmousedown="xuserdestroy()">X</div>
    <div id="user" style="position: absolute; top: 20px; left: 0px; ">
  
      <div id="user_content" style="position: absolute; top: 0px; left: 0px;"  >

      </div>
    </div>
  </div>
</div>
